ast/ast
ast/ast_to_image.dot
ast/ast_to_image.png
prog
prog_ast.dot
prog_ast.png
table_of_symbols/table_symbols
table_of_symbols/symbol_table.dot
table_of_symbols/symbol_table.png
.vscode/
calc-sintaxis.tab.c
calc-sintaxis.tab.h
lex.yy.c
symbol_table.dot
symbol_table.png
ast_to_asm.txt
